.loading {
    @include position(fixed, 0, 0, 0, 0);
    z-index: 99999;
    background: rgba(255, 255, 255, 0.3);
    user-select: none;

    .loading-container {
        @include position(absolute, 0, 0, 0, 0);
        @include size(60px);
        margin: auto;
    }

    .circular {
        @include size(60px);
        animation: loading-rotate 2s linear infinite;
    }

    .path {
        animation: loading-dash 1.5s ease-in-out infinite;
        stroke-dasharray: 90, 150;
        stroke-dashoffset: 0;
        stroke-width: 2;
        stroke: $primary;
        stroke-linecap: round;
        opacity: 0.8;
    }

    @keyframes loading-rotate {
        100% {
            transform: rotate(1turn);
        }
    }

    @keyframes loading-dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -40px;
        }
        100% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -120px;
        }
    }
}
