.popup-container {
    position: relative;

    :global(.ant-popover) {
        padding-top: 0;
    }

    :global(.ant-popover-arrow) {
        display: none;
    }

    :global(.ant-popover-inner-content) {
        padding: 0 0 8px;
    }
}

.toolbar {
    @include flex(null, space-between);
    padding-block: 16px;

    .toolbar-title {
        @include text(16px, $text);
        @include flex(center, flex-start);
        @include text-weight(500);
        white-space: nowrap;
    }

    .toolbar-action {
        white-space: nowrap;
    }
}
