.app-content {
    @include size(100%);
    background: $background;
    position: relative;
    overflow: hidden;
}

.content-space {
    @include size(100%);
    padding: 0 18px;
    overflow-y: auto;

    .view-container {
        position: relative;

        .content__view {
            position: relative;
        }

        .content__fill {
            height: 18px;
        }
    }

    .back-top {}
}
