.column-setting {
    position: relative;
}

.column-setting-title {
    @include flex(center, space-between);
    @include text-weight(600);
    height: 32px;
}

.tree-list-group {
    @include size(232px, null);
    @include flex();
    flex-direction: column;
}
