.form-wrap {
    position: relative;

    :global(.ant-input-clear-icon) {
        font-size: 14px;
    }

    :global(.ant-select-arrow), :global(.ant-select-clear) {
        @include size(14px);
        font-size: 14px;
        inset-inline-end: 10px;
        margin-top: -7px;
    }
}