.language-wrap {
    height: 60px;
    cursor: pointer;
    position: relative;
}

.language-center {
    height: 60px;
    @include flex(center);

    .language-center__icon-down {
        color: $icon;
        @include size(18px, 100%);
        @include flex(center, center);
    }
}

.language-menu {
    min-width: 110px;
    white-space: nowrap;
}
