#nprogress {
    pointer-events: none;

    .bar {
        @include position(fixed, 0, 0, null, 0);
        @include size(100%, 2px);
        z-index: 1031;
        background: $primary;
    }

    .peg {
        @include position(absolute, null, 0, null, null);
        @include size(100px, 100%);
        box-shadow: 0 0 10px $primary, 0 0 5px $primary;
        opacity: 1.0;
        -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
        transform: rotate(3deg) translate(0px, -4px);
    }

    /* Remove these to get rid of the spinner */
    .spinner {
        @include position(fixed, 10px, 10px, null, null);
        z-index: 1031;

        .spinner-icon {
            @include size(18px);
            box-sizing: border-box;
            border: solid 2px transparent;
            border-top-color: $primary;
            border-left-color: $primary;
            border-radius: 50%;
            -webkit-animation: nprogress-spinner 400ms linear infinite;
            animation: nprogress-spinner 400ms linear infinite;
        }
    }
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
