.layout {
    @include size(100%);
    @include flex;
    flex-direction: row;
    overflow: hidden;

    .layout__prime {
        flex: 1;
        @include flex;
        flex-direction: column;
        overflow: hidden;

        .layout__content {
            flex: 1;
            overflow: hidden;
        }
    }
}
