@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

fieldset {
    border: none;
}

img {
    user-select: none;
    display: block;
}

address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}

ul, ol, li {
    list-style: none;
}

body {
    color: #657180;
    font-size: 14px;
    background: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #666;
    text-decoration: none;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}
