// 主题色
$primary: #1677ff;

$primary-text: #1677ff;
$primary-text-hover: #4096ff;
$primary-text-active: #0958d9;
// 成功色
$success-text: #52c41a;
$success-text-hover: #73d13d;
$success-text-active: #389e0d;
// 警戒色
$warning-text: #faad14;
$warning-text-hover: #ffc53d;
$warning-text-active: #d48806;
// 错误色
$error-text: #ff4d4f;
$error-text-hover: #ff7875;
$error-text-active: #d9363e;
// 主文本色
$text: rgba(0, 0, 0, 0.88);
// 次文本色
$text-secondary: rgba(0, 0, 0, 0.65);
// 三级文本色
$text-tertiary: rgba(0, 0, 0, 0.45);
// 四级文本色
$text-quaternary: rgba(0, 0, 0, 0.25);

