.tag {
    @include size(null, 32px);
    @include flex(center, center);
    display: inline-flex;
    user-select: none;
    padding-inline: 7px;
    background: $white;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all 0.2s;
    cursor: pointer;

    .dot-inner {
        @include size(12px);
        margin-right: 8px;
        border-radius: 50%;
        background: $border;
        transition: all 0.2s;

        &.dot-inner__primary {
            background: $primary !important;
        }
    }

    //&:hover {
    //    .dot-inner {
    //        background: $primary-hover;
    //    }
    //}

    .tag_text {
        height: 14px;
        @include text(12px, $text, 14px);
    }

    .close {
        @include size(14px);
        @include text(10px, $text-tertiary, 14px, center);
        margin-inline-start: 4px;
        cursor: pointer;
        transition: all 0.2s;

        :global(.anticon-close) {
            @include flex(center, center);
            @include size(14px);
            @include text(10px, $text-tertiary, 10px, center);

            &:hover {
                color: $error;
            }
        }
    }
}