.sidebar {
    background: #001529;
    user-select: none;
    transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
    position: relative;
    overflow: hidden;
}

.sidebar-content {
    height: 100%;
    padding-top: 0.1px;
    margin-top: -0.1px;
    overflow-y: scroll;
    will-change: scroll-position;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        @include size(0, 0);
        display: none;
    }
}

.sidebar-content__wrap {
    position: relative;
}
