.query-filter {
    position: relative;
    row-gap: 24px;

    :global(.ant-form-item) {
        margin-block: 0;
    }

    .form-item-vertical {
        margin-top: 30px;
    }

    .action-col {
        text-align: end;
    }

    .col-hidden {
        display: none;
    }

    .collapse-button {
        padding: 0;

        :global(.anticon) {
            margin-left: 2px;
        }
    }
}