.login {
    @include size(100%);
    position: relative;
    overflow: hidden;
}

.login-bg {
    @include size(100%);
    position: relative;

    .login-bg__canvas {
        @include size(100%);
        overflow: hidden;
    }
}

.login-form {
    @include position(absolute, 50%, 260px, null, null);
    width: 340px;
    transform: translateY(-60%);

    :global(.ant-card-head) {
        min-height: 46px;
        font-size: 14px;
        color: #657180;
    }

    .checked-wrap {
        @include flex(center, space-between);
        margin-bottom: 18px;
    }

    .login-form__error {
        margin-bottom: 0;
        min-height: 56px;

        :global(.ant-form-show-help) {
            height: 24px;
            text-align: center;
            @include ellipsis-overflow;
        }
    }
}
