.action {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
    user-select: none;
    -webkit-text-decoration-skip: objects;

    &.action__primary {
        color: $primary;

        &:hover {
            color: $primary-hover;
        }

        &:active {
            color: $primary-active;
        }
    }

    &.action__warning {
        color: $warning;

        &:hover {
            color: $warning-hover;
        }

        &:active {
            color: $warning-active;
        }
    }

    &.action__error {
        color: $error;

        &:hover {
            color: $error-hover;
        }

        &:active {
            color: $error-active;
        }
    }
}
